table {
    width: 100%;
    margin-bottom: 60px;
}
table td:first-child {
    width: 100px;
}
table td:nth-child(2) {
    width: calc(100% - 100px);
    word-break: break-all;
    word-break: break-word;
}

.navbar {
    background: linear-gradient(to right, #f2709c, #ff9472);
}
.navbar .links {
    background-color: transparent!important;
}
.navbar .search-box {
    display: none;
}
.site-name {
    color: white!important;
}